extends ../layouts/default

block content
	.container: .jumbotron
		h2 Home
		

<!DOCTYPE html>
<html>
  <head>
    <link href="css/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="css/styles.css" rel="stylesheet" type="text/css">
    <script src="js/jquery-3.3.1.js"></script>
    <script src="js/scripts.js"></script>
    <title>Help Americans Connect one Gig at a Time</title>
  </head>
  <body>
    <div class="title">
      <img class="carouselImage" src="img/backpacking.jpg" style="width:100%;height:420px;"><!--540px for height possibility-->
      <img class="carouselImage" src="img/HiSpeed_infrastructure.jpg" style="width:100%;height:420px;"><!--540px for height possibility-->
      <img class="carouselImage" src="img/volunteerWork3.jpg" alt="Image of legislative and corporate interests working together" style="width:100%;height:420px;"><!--540px for height possibility-->
      <div class="centered">
        <div id="intro">
          <h2>Help Americans Connect one Gig at a Time</h2>
          <p><em>You can transform lives for families</em></p>
          <p><em> around the world. Every single</em></p> <p><em>bit of data will help bring</em></p><p><em> better access to communities in need.</em></p>
        </div>
    <!-- BCAT Project To Do    -->
        <p> There's a smart way to end the internet divide.
          People around the America could get access to internet access in their communities with the help of volunteers and donations.
          <p>
            <br>Fast Facts:
            <br>Internet Divide
            <br>An Incredible Fact:
            <br>Some areas in America do not have access to internet broadband connectivity!
            <br><em>(FCC)</em>
          </p>


            <br>* At present, the MVP application presents very rudimentary maps and tables, but the need and interest is clear. </br>
            <br>* This information is extremely valuable to local leaders who want to improve broadband in their communities. </br>
            <br>* Some American people have no access to any internet access and live in deadzones. This limits their education, jobs, and ultimetely livelihood. This is a travesty!</br>
            <p>
            Naturally, these figures are changing daily, and they have improved since the initial launch. This is encouraging, and it shows that we can actually solve this problem with the means at hand. And yet, there is a lot of work still to be done. Solving and bridging the divide in internet access issues for all Americans is not difficult, doesn't take any new technology, and is not expensive... it just takes desire.
          </p>
          </div>
            </div>
          </div>

        <!-- Digital Skills -->
                <br>
                Welcome to BroadbandUSA Connectivity Assessment Tool (BCAT). BCAT is a community-based planning tool designed to inform and accelerate local broadband efforts. The tool supports local leaders as they advance broadband infrastructure deployment, improve digital inclusion, stimulate economic development, and strengthen broadband policies.


        <!-- Device Ownership -->
                One unique - and very useful - aspect of the tool is that it draws from national data sources such as the U.S. Census, NTIA's Digital Nation survey, and the FCC broadband deployment and subscription data, to deliver customized local maps and tables. The MVP application presents very rudimentary maps and tables, but the need and interest is clear. This information is extremely valuable to local leaders who want to improve broadband in their communities. The initial displays, tables, and maps are basic. There are more relevant data and datasets to be mined and infinitely more ways to make this data useful and actionable for local leaders.

                That's where our organization comes in. We are here to bring internet access to people in need. There is both a need and demand for this, because when people have access to the internet, they get the capability expand on opportunities available to themselves and their family.
                With your help, we will continue providing families with hope and health.


        <!-- Adoption & Use -->
                We often get asked, "What's the best way to help?" Our answer is simple: You don't have to fly to an internet desert aka deadzone to make a difference. In fact, the best way you can help is by staying right where you are. We need passionate people to spread awareness about bridging the internet divide, then contact state legislators and/or raise money to solve it. So roll up your sleeves and use that laptop you're holding. It's your most powerful tool.

                Volunteer
                Come to and join our cause by volunteering. Help out our web app, be a coder, help with other areas in our tool with your expertiase and hang with other BCAT supporters. Sign up to see where you fit in!
                JOIN US AS A VOLUNTEER

        <!-- Digital Inclusion -->
                <p>Community in Need Help? Would you like to collect data on your community? Fill out the form on this page:
                People like you are our sole reason for existing. Our entire charitable network was developed to help others—other individuals, other social service groups, communities, schools, and all Americans alike. If you think there is something we can to do help you, we ask you to please let us know by filling in this online survey.
                </p>

        <!-- Community Priorities -->
                The challenge is developing a way to represent the data at the local level and provide a feedback mechanism to allow state or local leaders to comment or validate the data.

                We often get asked, "What's the best way to help?" Our answer is simple: You don't have to fly to an internet desert/deadzone to make a difference. In fact, the best way you can help is by staying right where you are. We need passionate people to spread awareness about bridging the internet divide, then contact state legislators and/or raise money to solve it. So roll up your sleeves and use that laptop you're holding. It's your most powerful tool.

                Volunteer
                Come to and join our cause by volunteering. Help out our web app, be a coder, help with other areas in our tool with your expertise and hang with other BCAT supporters. Sign up to see where you fit in!
                *JOIN US AS A VOLUNTEER*
                *Conceptual ideas to better visualize and understand the FCC Form 477 data sets (wireline and fixed wireless, mobile, and subscription)
                *Technique or techniques to validate the data, e.g. mapping speed test results, bringing in other data sets, community comment process….

                Contacts
                Karen Archer Perry: Senior Policy Analyst | NTIA
                Will Saunders: Senior Program Manager | OpenData

        <!-- Stakeholder Engagement-->
                <p>Community in Need Help? Would you like to collect data on your community? Fill out the form on this page:
                People like you are our sole reason for existing. Our entire charitable network was developed to help others—other individuals, other social service groups, communities, schools, and all Americans alike. If you think there is something we can to do help you, we ask you to please let us know by filling in this online survey.

                Contacts
                Karen Archer Perry: Senior Policy Analyst | NTIA
                Will Saunders: Senior Program Manager | OpenData
                </p>


<!--In Progress -->
        In <progress value="0" max="100">0%</progress>

<!-- Completed-->
        <p>
          Completed
        </p>

        <div class="container">
         <div class="px-4 fixed-top bg-light d-flex flex-row justify-content-between align-items-center">


    <nav id="top" class="px-4 fixed-top bg-light d-flex flex-row justify-content-between align-items-center">
        <div class="p-2">
          <h2><a href="" class="">BCAT Project To Do</a></h2>
            </div>
            <div class="p-2 inline float-left"><a href="#secondPage" href="theConcept.html">Digital Skills</a></div>
            <div class="p-2 inline float-left"><a href="#thirdPage" href="location.html">Device Ownership</a></div>
            <div lass="p-2 inline float-left"><a href="#fourthPage"><a href="accomadations.html">Adoption & Use</a></div>
            <div lass="p-2 inline float-left"><a href="#fifthPage"><a href="facilities.html">Digital Inclusion</a></div>
          <div lass="p-2 inline float-left"><a href="#fourthPage"><a href="accomadations.html">Community Priorities</a></div>
          <div lass="p-2 inline float-left"><a href="#fifthPage"><a href="facilities.html">Stakeholder Engagement</a></div>
        </ul>
      </nav>
    </div>
    <div class="container">
    </div>
  </body>
</html>
